#lista-de-contactos {
  overflow-y: scroll;
  height: 100%;
}

.contacto {
  user-select: none;
}

.contacto-hover:hover {
  background-color: #3753ac;
  color: #ffffff;
  transition-property: all;
  transition-duration: 200ms;
}
